.jumbotron {
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/JrbItQz/white-boxes-abstract-3d-render-loopable-animation_s2e0cmuk__F0000.png");
    background-size: cover;
    background-position: center;
    border-radius: unset;
}
